{% extends 'myapp/base.html' %}

{% block head %}
{% endblock %}

{% block product %}
{% endblock %}

{% block login %}
{% endblock %}


{% block about %}


  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-white mb-4">Know Us </h2>
         <h4 class="font-italic"> <p class="text-white-50"> " Life sports is one of the biggest stores in windsor city. It provides around 100+ different brands and varieties.
    It consists of brands such as Puma, Nike, Foot Looker, Champs Sports, Eastbay, Kids Foot Locker and Runners Point. "
        </h4>
           <h3 class="text-white">
          Our Motive:
          </h3>
          <h4 class="font-italic text-white-50">
            " Inspire and empower consumers making their lifestyle healthy and comfortable "
            We strive the best in everything we do. We act honestly, ethically and honorably.
          </h4>
          </p><b style="text-decoration-color: #d6d8d9">Page Visits:{{ about_visits }}</b>
        </div>
      </div>

    </div>
  </section>
{% endblock %}