{% extends 'myapp/base.html' %}

{% block myhdg %}

    <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Hello {{ request.user.username }}</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"> LOGIN INFO
        <br/>
        {% if request.session.last_login%}
            Last Login {{request.session.last_login}}
        {% else %}
         <h2 class="text-white-50 mx-auto mt-2 mb-5">
        Your login was more than one hour ago
         </h2>



            {% endif %}
</h2>

      </div>

{% endblock %}