{% extends 'myapp/base.html' %}

{% block head %}
{% endblock %}

{% block about %}
{% endblock %}

{% block login %}
{% endblock %}
{% block product %}
<header class="masthead">

      <div class="container-fluid d-flex h-100 align-items-center">

          <br/>

            <div class="card h-80 w-100">


            <div  class="card-header text-center">


            <!-- <h2 class="display-2" >List of product</h2> --->
                <label  style="font-size: 35px; !important;">Place your Order</label>
            </div>

                <div class="card-body " style="text-align: center">

                <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class=" btn btn-success" value="submit">
                        </form>

                </div>


            </div>




    </div>



  </header>

{% endblock %}