{% extends 'myapp/base.html' %}

{% block head %}
{% endblock %}

{% block about %}
{% endblock %}

{% block login %}
{% endblock %}
{% block product %}
<header class="masthead">

      <div class="container-fluid d-flex h-100 align-items-center">

          <br/>

            <div class="card h-80 w-100" style="width:25%">
                <br/>
                <br/>

                <br/>

                <br/>


            <div  class="card-header text-center" style="width: border-box">


            <!-- <h2 class="display-2" >List of product</h2> --->
                <label  style="font-size: 25px; !important;">Register Here</label>
            </div>

                <div class="card-body " style="width: content-box">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Sign up</button>
                    </form>

                </div>


            </div>




    </div>



  </header>

{% endblock %}


